@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  /* Dark mode strategiyasini klassga o'tkazish (v4 uchun) */
  --color-background: white;
  --color-foreground: black;
}

@layer base {
  html {
    @apply h-full;
  }
  
  body {
    /* Bg-white va text-black'ni aniq ko'rsating */
    @apply h-full bg-white text-black transition-colors duration-300;
    @apply dark:bg-gray-950 dark:text-white;
  }

  #root {
    @apply h-full;
  }
}